<div class="depot_form">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
<div class='wrapper'>
  <h1></h1>

  <img src="http://adventuretimeforum.com/jakehead.png" class='logo' id="logopic"/>

	<div class="inputs">
		<label for="name" class="label">Name:</label>
		<%= text_field_tag :name, params[:name] %>

		<label for="password" class="label">Password:</label>
		<%= password_field_tag :password, params[:password] %>
	</div>

   <%= submit_tag "Login", :class => 'sign-in-button'%>
  <a href="" class='pass'>Forgot password?</a><a href="" class='acc'>Sign up</a>
	<% end %>
</div>
