<div id="admin-panel">
  <span class="glyphicon glyphicon-user admin-logo" aria-hidden="true"></span>

  <h1>Admin Panel</h1>

  <p>
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> It's <%= Time.now %> <br>

    <span class="glyphicon glyphicon-check admin-orders" aria-hidden="true"></span> We have <a href=" <%= orders_path %> "> <%= pluralize(@total_orders, 'order') %> </a>
  </p>
</div>

<div id="admin-orders-panel">
  <span class="glyphicon glyphicon-check admin-orders" aria-hidden="true"></span>


  <a href=" <%= orders_path %> "> <%= pluralize(@total_orders, 'order') %> </a>.
</div>

<div id="admin-sales-panel">
    <span class="glyphicon glyphicon-piggy-bank admin-orders" aria-hidden="true"></span>


   <%= @grand_orders_total %>
</div>

<div class="admin-orders-board">
  <h3>Orders</h3>

  <div class="admin-orders-list">
    <p id="notice"><%= notice %></p>

    <table>
      <thead>
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Fulfilment Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.reverse_each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at.strftime("%d %b %Y, %I:%M") %></td>
            <td><%= order.name %></td>
            <td><%= order.address %></td>
            <td><%= order.email %></td>
            <td><%= order.status %></td>
            <td><%= link_to 'Show', order ,:class => 'show-button' %></td>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Order', new_order_path, :class => 'red-button' %>

    <p> <%= will_paginate @orders %> </p>
  </div>

</div>
