<% if notice %>
  <p id="notice"><%= notice %></p>
<% end  %>

<div class="container row product-images-wrapper">
  <% @products.each do |product| %>
      <a href="<%= product_path(product.id) %>">
      <article class="col-md-4 wrap">
        <figure>
          <img src='<%= product.image %>' alt="some_text" class="product-image" />
        </figure>
        <section class="text-container">
          <h2><%= product.title %></h2>
          <div> <%= truncate(product.description, :length => 20) %> </div>
          <div><%= number_to_currency(product.price) %></div>
          <button class="product-button">
            Buy
          </button>
        </section>
      </article>
    </a>
  <% end  %>
</div>
