<header>
  <nav>
    <div class="container">
      <% if session[:user_id] %>
      <ul class="navbar-left">
        <li> <%= link_to 'Orders', orders_path %> </li>
        <li> <%= link_to 'Products', products_path %> </li>
        <li> <%= link_to 'Users', users_path %> </li>

      </ul> <!--end navbar-left -->
      <% end %>

      <ul class="navbar-right">
        <% if session[:user_id] %>
          <li><%= link_to '<span class="glyphicon glyphicon-user"></span> My Account'.html_safe, admin_path %></li> <%# UPDATE LINK %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Log Out'.html_safe, logout_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, login_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_path %></li>
          <li><i class="fa fa-shopping-cart nav-cart-icon"></i><span class="nav-badge"> <%= @cart.total_items %> </span></li>
        <% end %>
      </ul> <!--end navbar-right -->
    </div> <!--end container -->
  </nav>
</header>
