<header>
    <nav>
      <div class="row">
          <% if session[:user_id] %>
            <% if @current_user.admin %>
              <ul class="col-md-12 col-sm-12 col-xs-12">
                <li><%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, store_path %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-tags"></span>Products'.html_safe, products_path %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-list-alt"></span>Dashboard'.html_safe, admin_path %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-user"></span> My Account'.html_safe, admin_path %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, logout_path, :method => :delete %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, store_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-tags"></span>Products'.html_safe, products_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-user"></span> My Account'.html_safe, admin_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, logout_path, :method => :delete %></li>
              <li>
                  <i class="fa fa-shopping-cart nav-cart-icon"></i>
                  <span class="nav-badge"><%= @cart.total_items %></span>
              </li>

                  <div class="container">
                    <div class="shopping-cart">
                      <div class="shopping-cart-header">
                        <i class="fa fa-shopping-cart cart-icon"></i><span class="badge"> <%= @cart.total_items %> </span>
                        <div class="shopping-cart-total">
                          <span class="lighter-text">Total:</span>
                          <span class="main-color-text"> <%= number_to_currency(@cart.total_price) %> </span>
                        </div>
                      </div>

                  <%# unless @cart.line_items.empty? %>
                      <ul class="shopping-cart-items">
                      <% @cart.line_items.each do |item| %>
                        <li class="clearfix">
                          <span class="item-name"> <%= item.product.title %> </span>
                          <span class="item-price"> <%= number_to_currency(item.total_price) %> </span>
                          <span class="item-quantity"> &times; <%= item.quantity %> </span>
                        </li>
                      <% end %>
                    </ul>
                  <%# end %>

                      <%= button_to "Checkout", new_order_path, :method => :get, :class => 'button'%>

                      <%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
                    </div>
                  </div>
            </ul>
            <% end %>
          <% else %>
            <ul>
              <li><%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, store_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-tags"></span>Products'.html_safe, products_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, login_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_path %></li>
              <% end %>
            </ul>
        </div>
    </nav>
</header>
